@model IEnumerable<QuanLyBanHang.Models.TaiKhoan_NhanVien_KhachHang_Admin_VaiTro>
@{
    ViewData["Title"] = "GetAdmin_NhanVien";
    Layout = "~/Views/Shared/Layout_Admin.cshtml";
}
@section Links{
    <link rel="stylesheet" href="~/admin/custom/admin_users.css" />
    
}

<div class="background-popup">


</div>
<div class="container">
    <div class="header-content">
        <h2>Danh sách tài khoản</h2>
        <div class="header-event">
            @using (Html.BeginForm("GetNhanVien", "TaiKhoan", FormMethod.Get))
            {
                <p class="search">
                    Title: @Html.TextBox("SearchString")  <input type="submit" value="Tìm kiếm" id="search" />
                </p>
            }
            <a class="add-user btn" href="/NhanVien/Create">
                <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
                Thêm tài khoản
            </a>

        </div>
    </div>
    <div class="content-content">
        <table class="table table-hover tm-table-small ">
           
                <tr>
                    <th scope="col"><input type="checkbox" id="checkall" /></th>
                    <th scope="col">Mã tài khoản</th>
                    <th scope="col">Họ và tên</th>
                    <th scope="col">Tên đăng nhập</th>
                    <th scope="col">Mật khẩu</th>
                    <th scope="col">Ngày tạo</th>
                    <th scope="col">Vai trò</th>
                    <th scope="col">Chức năng</th>

                </tr>
            
                @foreach (var item in Model)
                {
                <tr>
                    <td scope="row"><input type="checkbox" class="tick" name="liststaff" value="@item.nhanVien.NhanVienId" /></td>
                    <td>
                        @item.taiKhoan.TaiKhoanId
                    </td>
                    <td>
                        @item.nhanVien.HoTen
                    </td>
                    <td>
                        @item.taiKhoan.Username
                    </td>
                    <td>
                        @item.taiKhoan.Password
                    </td>
                    <td>
                        @item.taiKhoan.NgayTao
                    </td>
                    <td>
                        @item.vaiTro.MoTa
                    </td>

                    <td>
                        <div>
                            <a href="/NhanVien/Edit/@item.nhanVien.NhanVienId" class="btn tm-product-delete-link" id="update-staff"><i class="fa fa-pencil-square-o tm-product-delete-icon"></i></a>
                            <a onclick="Delete(@item.nhanVien.NhanVienId)" class="tm-product-delete-link" id="delete-staff"><i class="fa fa-trash-o tm-product-delete-icon"></i></a>
                            <a href="/NhanVien/Details/@item.nhanVien.NhanVienId" class="btn tm-product-delete-link" id="detail-staff"><i class="fa fa-eye tm-product-delete-icon"></i></a>
                        </div>
                    </td>

                </tr>

                }

            
        </table>
    </div>


    <br />
    <br />
    <!-- table container -->

</div>


@section Scripts{
    <script src="~/admin/js/nhanvien.js"></script>

}
