@model QuanLyBanHang.Models.HoaDon;
@{
    ViewData["Title"] = "Index1";
    Layout = "~/Views/Shared/Layout_Admin.cshtml";
}

@section Links{
    <link rel="stylesheet" href="~/admin/custom/admin_users.css" />
}
<div class="container">
    <div class="header-content">
        <h2>Danh sách hóa đơn đã xử lí</h2>
    </div>
    <div class="content-content vertical-menu">
        <table>
            <tr>
                <th>Số hóa đơn</th>
                <th>Ngày tạo</th>
                <th>Khách hàng</th>
                <th>Địa chỉ</th>
                <th>Phí ship</th>
                <th>Tổng tiền</th>
                <th>Chức năng</th>
            </tr>
            @foreach (var item in ViewBag.TTHD)
            {
                <tr>
                    <td style="text-align: center;">@item.HoaDonId</td>
                    <td style="text-align: center;">@String.Format("{0:dd/MM/yyyy}", @item.ThoiGianChoXuLy)</td>
                    <td style="text-align: center;">@item.KhachHang.HoTen</td>
                    <td style="text-align: center;">@item.SoNha, @item.Quan</td>
                    <td style="text-align: center;">@item.PhiShip.ChiPhi</td>
                    <td style="text-align: center;">@item.TongTienThanhToan</td>
                    <td style="text-align: center;">
                        @*<a asp-action="Details" asp-route-id="@item.HoaDonId" title="Chi tiết hóa đơn"><i class="fa fa-eye" aria-hidden="true"></i></a>*@
                        <a href="/HoaDon/Details/@item.HoaDonId" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i>Chi tiết hóa đơn</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>


