
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Layout_Admin.cshtml";
}

@section Links{
    <link rel="stylesheet" href="~/admin/custom/admin_users.css" />
}

<div class="container">
    <div class="header-content">
        <h2>Thông tin khuyến mãi</h2>
    </div>
    <div class="content-content vertical-menu">
        @foreach (var item1 in ViewBag.TTKM)
        {
            <div class="">
                <span class="span1">Mã khuyến mãi: </span>
                <span class="span2">@item1.KhuyenMaiId</span>
            </div>
            <div class="">
                <span class="span1">Tên khuyến mãi</span>
                <span class="span2">@String.Format("{0:dd/MM/yyyy}", @item1.TenKhuyenMai)</span>
            </div>
            <div class="">
                <span class="span1">Ngày bắt đầu: </span>
                <span class="span2">@String.Format("{0:dd/MM/yyyy}", @item1.NgayBatDau)</span>
            </div>
            <div class="">
                <span class="span1">Ngày kết thúc </span>
                <span class="span2">@String.Format("{0:dd/MM/yyyy}", @item1.NgayKetThuc)</span>
            </div>
            <div class="">
                <span class="span1"> Chi tiết khuyến mãi:</span>
            </div>
            <br />
        }
        <table>
            <tr>
                <th>Mã sản phẩm</th>
                <th>Tên sảm phẩm</th>
                <th>Phần trăm giảm giá</th>
            </tr>
            @foreach (var item in ViewBag.CTKM)
            {
                <tr>
                    <td style="text-align: center;">@item.ID</td>
                    <td style="text-align: center;">@item.Name</td>
                    <td style="text-align: center;">@item.SL</td>
                </tr>
            }
        </table>
    </div>
</div>
