@model IEnumerable<QuanLyBanHang.Models.KhuyenMai>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout_Admin.cshtml";
}

@section Links{
    <link rel="stylesheet" href="~/admin/custom/admin_users.css" />
}
<div class="container">
    <div class="header-content">
        <h2>Danh sách khuyến mãi</h2>
        <a class="add-user" onclick="DeleteSelected()">
            <i class="fa fa-minus" aria-hidden="true"></i>&nbsp;
            Xóa khuyến mãi
        </a>
        <a class="add-user" href="/KhuyenMai/Create">
            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
            Thêm khuyến mãi
        </a>
    </div>
    <div class="content-content vertical-menu">
        <table>
            <tr>
                <th><input type="checkbox" id="checkall" /></th>
                <th>Mã khuyến mãi</th>
                <th>Tên khuyến mãi</th>
                <th>Ngày bắt đầu</th>
                <th>Ngày kết thúc</th>
                <th>Chức năng</th>
            </tr>
            @foreach (var item in Model)
            {
        <tr>
            <th><input type="checkbox" class="tick" name="listproduct" value="@item.KhuyenMaiId" /></th>
            <td style="text-align: center;">@item.KhuyenMaiId</td>
            <td style="text-align: center;">@item.TenKhuyenMai</td>
            <td style="text-align: center;">@String.Format("{0:dd/MM/yyyy}", @item.NgayBatDau)</td>
            <td style="text-align: center;">@String.Format("{0:dd/MM/yyyy}", @item.NgayKetThuc)</td>
            <td style="text-align: center;">
                <a asp-action="Details" asp-route-id="@item.KhuyenMaiId" title="Chi tiết khuyến mãi"><i class="fa fa-eye" aria-hidden="true"></i></a>
                <a onclick="Delete(@item.KhuyenMaiId)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
            </td>
        </tr>
            }
        </table>
    </div>
</div>
@section Scripts {
    <script>
        function Delete(kmid) {
            var ans = confirm("Bạn có chắc chắn muốn xóa khuyến mãi này không?");
            if (ans) {
                $.ajax({
                    url: "/KhuyenMai/Delete/",
                    type: "POST",
                    dataType: "json",
                    contextType: "application/json",
                    data: { id: kmid },
                    success: function (result) {
                        alert(result);
                        window.location.reload();
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
            }
        };
        function DeleteSelected() {
            var ans = confirm("Bạn có chắc chắn muốn xóa những khuyến mãi này không?");
            if (ans) {
                var selectedIDs = new Array();
                $('input:checkbox.tick').each(function () {
                    if ($(this).prop("checked")) {
                        selectedIDs.push($(this).val());
                    }
                });
                $.ajax({
                    url: "/KhuyenMai/DeleteSelected/",
                    type: "POST",
                    dataType: "json",
                    contextType: "application/json",
                    data: { selected: selectedIDs },
                    //traditional: true,
                    success: function (result) {
                        alert(result);
                        window.location.reload();
                        //window.location.href("/SanPham");
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });


            }

        };
        $(document).ready(function () {
            $(function () {
                $('#checkall').change(function () {
                    if ($(this).prop("checked") == true) {
                        $("input[name=listproduct]").prop("checked", true);
                    }
                    else {
                        $("input[name=listproduct]").prop("checked", false);
                    }
                });

            });

        });
    </script>
}
