
@model IEnumerable<QuanLyBanHang.Models.KhachHang>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout_Admin.cshtml";
}

@section Links{
    <link rel="stylesheet" href="~/admin/custom/admin_users.css" />
    <link rel="stylesheet" href="~/admin/css/khachhang.css" />
}

<div class="background-popup">


</div>
<div class="container">
    <div class="header-content">
        <h2>Danh sách khách hàng</h2>
        <div class="header-event">
            <a class="add-user btn" id="add-custom">
                <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
                Thêm khách hàng
            </a>
            <a class="add-user btn" id="delete">
                <i class="fa fa-minus"></i>&nbsp;
                Xóa khách hàng
            </a>
        </div>
    </div>
    <div class="content-content">
        <table class="table table-hover tm-table-small ">
            <thead>
                <tr>
                    <th scope="col"><input type="checkbox" id="checkall" /></th>
                    <th scope="col">Họ và tên</th>
                    <th scope="col">Ngày sinh</th>
                    <th scope="col">Email</th>
                    <th scope="col">Số điện thoại</th>
                    <th scope="col">Địa chỉ</th>
                    <th scope="col">Tài khoản</th>
                    <th scope="col">Chức năng</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td scope="row"><input type="checkbox" class="tick" name="listcustom" value="@item.KhachHangId" /></td>
                        <td>
                            @item.HoTen
                        </td>
                        <td>
                            @item.NgaySinh
                        </td>
                        <td>
                            @item.Email
                        </td>
                        <td>
                            @item.Sdt
                        </td>
                        <td>
                            @item.DiaChi
                        </td>
                        <td>
                            @item.TaiKhoanId
                        </td>

                        <td>
                            <div>
                                <a onclick="Update(@item.KhachHangId)" class="btn tm-product-delete-link" id="update-staff"><i class="fas fa-edit tm-product-delete-icon"></i></a>
                                <a onclick="Delete(@item.KhachHangId)" class="tm-product-delete-link" id="delete-staff"><i class="far fa-trash-alt tm-product-delete-icon"></i></a>
                                <a onclick="Detail(@item.KhachHangId)" class="btn tm-product-delete-link" id="detail-staff"><i class="fas fa-eye tm-product-delete-icon"></i></a>
                            </div>
                        </td>
                    </tr>

                }

            </tbody>
        </table>
    </div>


    <br />
    <br />
    <!-- table container -->

</div>


@section Scripts{
    <script src="~/admin/js/khachhang.js"></script>

}

