@model IEnumerable<QuanLyBanHang.Models.ChiTietHoaDon>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutClient.cshtml";
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->

    <title>Giỏ hàng</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="~/client/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/client/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <style type="text/css">
        .button {
            display: inline-block;
            position: relative;
            cursor: pointer;
            outline: none;
            white-space: nowrap;
            margin: 5px;
            padding: 0 22px;
            font-size: 14px;
            height: 40px;
            line-height: 40px;
            background-color: #00c5bb;
            color: #FFF;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
            border: none;
            text-align: center;
            float: right;
        }

        .qty {
            width: 40px;
            text-align: center;
        }

        .cart-product-name a, .product-name a {
            font-weight: bold;
            font-size: 13px;
            color: #333;
        }

        .remove {
            font-size: 14px;
            color: #FF0000;
        }

        .cart-product-thumbnail a {
            display: block;
            width: 68px;
        }

        .cart-product-thumbnail img {
            display: block;
            width: auto;
            max-width: 100%;
            height: auto;
            border: 2px solid #EEE;
        }

        .breadcrumb > li > h1 {
            font-size: 13px !important;
            font-weight: normal !important;
            display: inline-block !important;
            text-transform: none !important;
            margin-bottom: 0px !important;
            padding-top: 0;
            padding-bottom: 0;
        }

        .breadcrumb {
            background-color: white !important;
        }
    </style>
</head>
<body>
    <section id="page-title">
        <div class="container clearfix">
            <ol class="breadcrumb col-md-6 col-sm-6">
                <li>
                    <a href="/Homepage/Index" title="Trang chủ">Trang chủ</a>
                </li>

                <li class="active">
                    <h1 title="Giỏ hàng">Giỏ hàng</h1>
                </li>

            </ol>
        </div>
    </section>
    <section class="have_cart">
        <div class="container clearfix">
            <div class="test">
                <div class="table-responsive">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th class="cart-product-remove">&nbsp;</th>
                                <th class="cart-product-thumbnail">&nbsp;</th>
                                <th class="cart-product-name">Sản phẩm</th>
                                <th class="cart-product-price">Đơn giá</th>
                                <th class="cart-product-quantity">Số lượng</th>
                                <th>Tiền giảm</th>
                                <th class="cart-product-subtotal">Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.message == null)
                            {
                                @foreach (ChiTietHoaDon item in Model)
                                {
                                    /*Định dạng theo tiền việt nam*/
                                    int tienKhuyenMai = (int)item.TienKhuyenMai;
                                    int tongTien = (int)item.TongTien;
                                    <tr class="cart_item">
                                        <input type="hidden" class="SanPhamId" value="@item.SanPhamId" />
                                        <td class="cart-product-remove">
                                            <a asp-action="Delete" asp-route-id="@item.SanPhamId" itemprop="" class="remove" title="Bỏ sản phẩm này"><i class="fa fa-trash"></i></a>
                                        </td>
                                        @foreach (var sp in ViewBag.sanPhamList)
                                        {
                                            @if (sp.SanPhamId == item.SanPhamId)
                                            {
                                                var index = sp.HinhAnh.IndexOf(',');
                                                string hinhanh;
                                                if (index != -1) hinhanh = sp.HinhAnh.Substring(0, index);
                                                else hinhanh = sp.HinhAnh;
                                                <td class="cart-product-thumbnail">
                                                    <a href="/ChiTietSanPham?id=@item.SanPhamId" itemprop=""><img src="~/client/images/product/@hinhanh" alt=""></a>
                                                </td>
                                            }
                                        }

                                        @foreach (var sp in ViewBag.sanPhamList)
                                        {
                                            @if (sp.SanPhamId == item.SanPhamId)
                                            {
                                                <td class="cart-product-name">
                                                    <a href="/ChiTietSanPham?id=@item.SanPhamId" itemprop="">@sp.TenSanPham</a>
                                                </td>
                                            }
                                        }

                                        @foreach (var sp in ViewBag.sanPhamList)
                                        {
                                            @if (sp.SanPhamId == item.SanPhamId)
                                            {
                                                int giaBanLe = (int)sp.GiaBanLe;
                                                <td class="cart-product-price">
                                                    <span class="DonGia">@String.Format(info, "{0:C0}", giaBanLe)</span>
                                                </td>
                                            }
                                        }

                                        <td class="cart-product-quantity">
                                            <div class="quantity clearfix">
                                                <input type='number' value='@item.SoLuong' class='sl' name="" style="padding-left: 10px; width: 50px">
                                            </div>
                                        </td>

                                        <td class="cart-product-price">
                                            <span class="sale">@String.Format(info, "{0:C0}", tienKhuyenMai)</span>
                                        </td>

                                        <td class="cart-product-subtotal">
                                            <span class="amount">@String.Format(info, "{0:C0}", tongTien)</span>
                                        </td>
                                    </tr>
                                }

                                <tr style="text-align:center;">
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td><h4>Tổng tiền </h4></td>
                                    <td>
                                        @{
                                            int tongTienThanhToan = (int)ViewBag.tongTienThanhToan;
                                        }
                                        <span class="amount color lead">
                                            <strong id="TongTienChuaShip">
                                                @String.Format(info, "{0:C0}", tongTienThanhToan)
                                            </strong>
                                        </span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-6">
                        <a style="display: block; line-height: 45px; font-size: 16px;" href="/Homepage/Index">
                            <i class="fa fa-reply"></i>
                            Tiếp tục mua hàng
                        </a>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <button class="cart_checkout_btn button fright btnpay" title="Tiến hành đặt hàng" type="button">
                            <i class="fa fa-money"></i>THANH TOÁN
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="none_cart">
        <div class="container clearfix">
            @if (ViewBag.message != null)
            {
                <p>@ViewBag.message</p>
            }
            <a href="/Homepage"><i class="fa fa-undo"></i> Tiếp tục mua hàng</a>
        </div>
    </section>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/shopbeauty.js"></script>
    <script type="text/javascript">
        var count = "<?php echo $count; ?>";
        $(document).ready(function () {
            //$(".test").on("click", ".remove", function () {
            //    var id_remove = $(this).attr("itemprop");

            //    $.ajax({
            //        url: "remove-cart.php",
            //        type: 'post',
            //        dataType: 'text',
            //        data: {
            //            "id_remove": id_remove
            //        },
            //        success: function (result) {
            //            window.location.replace("cart.php");
            //        }
            //    });
            //});

            //$(".cart-product-thumbnail a").click(function () {
            //    var image_id = $(this).attr("itemprop");
            //    $(this).attr('href', 'product.php?id=' + image_id);
            //})
            //$(".cart-product-name a").click(function () {
            //    var image_id = $(this).attr("itemprop");
            //    $(this).attr('href', 'product.php?id=' + image_id);
            //})
            $(".btnpay").click(function () {
                document.location.replace("/ThanhToan");
            });

            //count = parseInt(count);
            //if (count == 0) {
            //    $(".none_cart").show();
            //    $(".have_cart").hide();
            //}
            //else {
            //    $(".none_cart").hide();
            //    $(".have_cart").show();
            //}

            $('.sl').on('change', function () {
                var sl = $(this).val();
                var ton = $(this).attr("name");
                var id_product = 0;

                $(this).closest('tr').find("input.SanPhamId").each(function () {
                    id_product = this.value;
                });

                present = $(this)
                $.ajax({
                    url: "/GioHang/getKho",
                    type: 'get',
                    data: {
                        "SanPhamId": id_product
                    },
                    success: function (result) {
                        if (sl > result) {
                            alert("Không đủ số lượng")
                        } else {
                            $.ajax({
                                url: "/GioHang/EditSoLuong",
                                type: 'get',
                                data: {
                                    "SanPhamId": id_product,
                                    "soLuong": sl
                                },
                                success: function (result) {
                                    $.each(result, function (key, value) {
                                        if (key == "tienKhuyenMai") {

                                            TienGiam = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(value);
                                        }
                                        if (key == "tongTien") {

                                            ThanhTien = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(value);
                                        }
                                    });
                                    $.ajax({
                                        url: "/GioHang/getTongTien",
                                        type: 'get',
                                        success: function (result) {
                                            TongTien = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(result);
                                            $("#TongTienChuaShip").text(TongTien)
                                            present.closest('tr').find("td.cart-product-price").find("span.sale").text(TienGiam)
                                            present.closest('tr').find("td.cart-product-subtotal").find("span.amount").text(ThanhTien)
                                        }
                                    });
                                }
                            });
                        }
                    }
                });




            });

        });

    </script>
</body>
</html>