@model IEnumerable<QuanLyBanHang.Models.ChiTietHoaDon>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutClient.cshtml";
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

@section Links{
    <link rel="stylesheet" href="~/admin/css/giohang.css" />
}
<body>
    <section id="page-title">
        <div class="container clearfix">
            <ol class="breadcrumb col-md-6 col-sm-6">
                <li>
                    <a href="/Homepage/Index" title="Trang chủ">Trang chủ</a>
                </li>

                <li class="active">
                    <h1 title="Giỏ hàng">Giỏ hàng</h1>
                </li>

            </ol>
        </div>
    </section>
    <section class="have_cart">
        <div class="container clearfix">
            <div class="test">
                <div class="table-responsive">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th class="cart-product-remove">&nbsp;</th>
                                <th class="cart-product-thumbnail">&nbsp;</th>
                                <th class="cart-product-name">Sản phẩm</th>
                                <th class="cart-product-price">Đơn giá</th>
                                <th class="cart-product-quantity">Số lượng</th>
                                <th>Tiền giảm</th>
                                <th class="cart-product-subtotal">Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.message == null)
                            {
                                @foreach (ChiTietHoaDon item in Model)
                                {
                                    /*Định dạng theo tiền việt nam*/
                                    int tienKhuyenMai = (int)item.TienKhuyenMai;
                                    int tongTien = (int)item.TongTien;
                                    <tr class="cart_item">
                                        <td class="cart-product-remove">
                                            <a itemprop="" class="remove" title="Bỏ sản phẩm này"><i class="fa fa-trash"></i></a>
                                        </td>


                                        @foreach (var sp in ViewBag.sanPhamList)
                                        {
                                            @if (sp.SanPhamId == item.SanPhamId)
                                            {
                                                var index = sp.HinhAnh.IndexOf(',');
                                                string hinhanh;
                                                if (index != -1) hinhanh = sp.HinhAnh.Substring(0, index);
                                                else hinhanh = sp.HinhAnh;
                                                <td class="cart-product-thumbnail">
                                                    <a href="" itemprop=""><img src="~/client/images/product/@hinhanh" alt=""></a>
                                                </td>
                                            }
                                        }

                                        @foreach (var sp in ViewBag.sanPhamList)
                                        {
                                            @if (sp.SanPhamId == item.SanPhamId)
                                            {
                                                <td class="cart-product-name">
                                                    <a href="" itemprop="">@sp.TenSanPham</a>
                                                </td>
                                            }
                                        }

                                        @foreach (var sp in ViewBag.sanPhamList)
                                        {
                                            @if (sp.SanPhamId == item.SanPhamId)
                                            {
                                                int giaBanLe = (int)sp.GiaBanLe;
                                                <td class="cart-product-price">
                                                    <span class="amount">@String.Format(info, "{0:C0}", giaBanLe)</span>
                                                </td>
                                            }
                                        }

                                        <td class="cart-product-quantity">
                                            <div class="quantity clearfix">
                                                <input type='number' value='@item.SoLuong' class='sl' name="" style="padding-left: 10px; width: 50px">
                                            </div>
                                        </td>

                                        <td class="cart-product-price">
                                            <span class="amount">@String.Format(info, "{0:C0}", tienKhuyenMai)</span>
                                        </td>

                                        <td class="cart-product-subtotal">
                                            <span class="amount">@String.Format(info, "{0:C0}", tongTien)</span>
                                        </td>
                                    </tr>
                                }
                                <tr style="text-align:center;">
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td><h4>Tổng tiền </h4></td>
                                    <td>
                                        @{
                                            int tongTienThanhToan = (int)ViewBag.tongTienThanhToan;
                                        }
                                        <span class="amount color lead">
                                            <strong>
                                                @String.Format(info, "{0:C0}", tongTienThanhToan)
                                            </strong>
                                        </span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-6">
                        <a style="display: block; line-height: 45px; font-size: 16px;" href="/Homepage/Index">
                            <i class="fa fa-reply"></i>
                            Tiếp tục mua hàng
                        </a>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <button class="cart_checkout_btn button fright btnpay" title="Tiến hành đặt hàng" type="button">
                            <i class="fa fa-money"></i>THANH TOÁN
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="none_cart">
        <div class="container clearfix">
            @if (ViewBag.message != null)
            {
                <p>@ViewBag.message</p>
            }
            <a href="/Homepage"><i class="fa fa-undo"></i> Tiếp tục mua hàng</a>
        </div>
    </section>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/shopbeauty.js"></script>
    <script type="text/javascript">
        var count = "<?php echo $count; ?>";
        $(document).ready(function () {
            $(".test").on("click", ".remove", function () {
                var id_remove = $(this).attr("itemprop");

                $.ajax({
                    url: "remove-cart.php",
                    type: 'post',
                    dataType: 'text',
                    data: {
                        "id_remove": id_remove
                    },
                    success: function (result) {
                        window.location.replace("cart.php");
                    }
                });
            });

            $(".cart-product-thumbnail a").click(function () {
                var image_id = $(this).attr("itemprop");
                $(this).attr('href', 'product.php?id=' + image_id);
            })
            $(".cart-product-name a").click(function () {
                var image_id = $(this).attr("itemprop");
                $(this).attr('href', 'product.php?id=' + image_id);
            })
            $(".btnpay").click(function () {
                document.location.replace("/ThanhToan");
            });

            //count = parseInt(count);
            if (count == 0) {
                $(".none_cart").show();
                $(".have_cart").hide();
            }
            else {
                $(".none_cart").hide();
                $(".have_cart").show();
            }

            $('.sl').on('change', function () {
                var sl = $(this).val();
                var id_product = $(this).attr("id");
                var ton = $(this).attr("name");
                //alert (ton);
                ton = parseInt(ton);
                if (sl > ton) {
                    alert("Sản phẩm không đủ số lượng");
                    $('.sl').val(ton);
                    sl = ton;
                }
                $.ajax({
                    url: "add-cart.php",
                    type: 'post',
                    dataType: 'text',
                    data: {
                        "id_product": id_product,
                        "amount": sl,
                        "ht": 0
                    },
                    success: function (result) {
                        //alert(result);
                        window.location.replace("cart.php");
                    }
                });

            });

        });
    </script>
</body>
    </html>