@model QuanLyBanHang.Models.Admin

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Layout_Admin.cshtml";
}


@section Links{
    <link rel="stylesheet" href="~/admin/custom/admin_adduser.css" />
}

<div class="container">
    <div class="header-content">
        <h2>Cập nhật chi tiết admin</h2>
    </div>
    <div class="content-content">
        <div class="content-content">
            <form id="addproduct" asp-action="Edit" enctype="multipart/form-data" method="post">
                <label asp-for="Adminid">Mã admin</label>
                <input type="text" id="nhanvienid" required="" asp-for="Adminid" readonly value="@ViewBag.Admin.Adminid">

                <label asp-for="HoTen">Họ và tên</label>
                <input type="text" id="hoten" required="" asp-for="HoTen" value="@ViewBag.Admin.HoTen">

                <label asp-for="NgaySinh">Ngày sinh</label>
                <input asp-for="NgaySinh" type="datetime-local" id="ngaysinh" required="" value="@ViewBag.NgaySinh">

                <label asp-for="Email">Email</label>
                <input asp-for="Email" type="email" id="email" required="" value="@ViewBag.Admin.Email">

                <label asp-for="Sdt">Số điện thoại</label>
                <input asp-for="Sdt" type="tel" id="sdt" required="" value="@ViewBag.Admin.Sdt" pattern="(\+84|0)\d{9,10}" title="Số điện không hợp lệ">

                <label asp-for="DiaChi">Địa chỉ</label>
                <input asp-for="DiaChi" type="text" required="" id="diachi" value="@ViewBag.Admin.DiaChi">



                <label asp-for="TaiKhoan.Username">Tên đăng nhập</label>
                <input asp-for="TaiKhoan.Username" type="text" id="username" required="" value="@ViewBag.TaiKhoan.Username">

                <label asp-for="TaiKhoan.Password">Mật khẩu</label>
                <input asp-for="TaiKhoan.Password" type="password" id="matkhau" required="" value="@ViewBag.TaiKhoan.Password">

                <label asp-for="TaiKhoan.NgayTao">Ngày tạo</label>
                <input asp-for="TaiKhoan.NgayTao" type="datetime" value="@ViewBag.TaiKhoan.NgayTao" id="ngaytao" required="" readonly>

                <div class="clearfix"></div>
                <div class="row add_cancel" style="float: right;">
                    <input type="submit" value="Thêm" id="btnadd" style="margin-right:3px">
                    <a class="btn btncancel" asp-action="Index" id="cancel-button">Hủy bỏ</a>
                </div>
            </form>
        </div>
    </div>
</div>







