
@model IEnumerable<QuanLyBanHang.Models.Admin>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout_Admin.cshtml";
}

@section Links{
    <link rel="stylesheet" href="~/admin/custom/admin_users.css" />
    
}

<div class="background-popup">


</div>
<div class="container">
    <div class="header-content">
        <h2>Danh sách admin</h2>
        <div class="header-event">
            <a class="add-user btn" id="add-staff">
                <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
                Thêm admin
            </a>
            <a class="add-user btn" id="delete">
                <i class="fa fa-minus"></i>&nbsp;
                Xóa admin
            </a>
        </div>
    </div>
    <div class="content-content">
        <table class="table table-hover tm-table-small ">
            
                <tr>
                    <th scope="col"><input type="checkbox" id="checkall" /></th>
                    <th scope="col">Họ và tên</th>
                    <th scope="col">Ngày sinh</th>
                    <th scope="col">Email</th>
                    <th scope="col">Số điện thoại</th>
                    <th scope="col">Địa chỉ</th>
                    <th scope="col">Tài khoản</th>
                    <th scope="col">Chức năng</th>

                </tr>
            
                @foreach (var item in Model)
                {
                    <tr>
                        <td scope="row"><input type="checkbox" class="tick" name="liststaff" value="@item.Adminid" /></td>
                        <td>
                            @item.HoTen
                        </td>
                        <td>
                            @String.Format("{0:dd/MM/yyyy}", @item.NgaySinh)
                        </td>
                        <td>
                            @item.Email
                        </td>
                        <td>
                            @item.Sdt
                        </td>
                        <td>
                            @item.DiaChi
                        </td>
                        <td>
                            @item.TaiKhoanId
                        </td>

                        <td>
                            <div>
                                <a asp-route-id="@item.Adminid)" asp-action="Edit" class="btn tm-product-delete-link" id="update-staff"><i class="fa fa-pencil-square-o tm-product-delete-icon"></i></a>
                                <a onclick="Delete(@item.Adminid)" class="tm-product-delete-link" id="delete-staff"><i class="fa fa-trash-o tm-product-delete-icon"></i></a>
                               
                            </div>
                        </td>

                    </tr>

                }

           
        </table>
    </div>


    <br />
    <br />
    <!-- table container -->

</div>


@section Scripts{
    <script src="~/admin/js/admin.js"></script>

}

