@model QuanLyBanHang.Models.SanPham

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SanPham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSanPham)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenSanPham)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GiaBanLe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GiaBanLe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kho)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kho)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhanLoai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhanLoai.PhanLoaiId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SanPhamId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
