@model QuanLyBanHang.Models.SanPham

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>SanPham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSanPham)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenSanPham)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GiaBanLe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GiaBanLe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kho)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kho)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhanLoai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhanLoai.PhanLoaiId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SanPhamId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
