@model QuanLyBanHang.Models.SanPham

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Layout_Admin.cshtml";
}

@section Links{
    <link rel="stylesheet" href="~/admin/custom/admin_adduser.css" />
}

<div class="container">
    <div class="header-content">
        <h2>Sửa sản phẩm</h2>
    </div>
    <div class="content-content">
        <form id="addproduct" asp-action="Edit" enctype="multipart/form-data" method="post">
            <label asp-for="SanPhamId">Mã sản phẩm</label>
            <input type="text" id="id" asp-for="SanPhamId" value="@ViewBag.SanPham.SanPhamId" readonly>

            <label asp-for="TenSanPham">Tên sản phẩm</label>
            <input type="text" id="name" value="@ViewBag.SanPham.TenSanPham" asp-for="TenSanPham" required="">

            <label asp-for="GiaBanLe">Giá</label>
            <input asp-for="GiaBanLe" type="text" id="gia" value="@ViewBag.SanPham.GiaBanLe" required="">

            <label asp-for="Kho">Số lượng</label>
            <input asp-for="Kho" type="text" id="soluong" value="@ViewBag.SanPham.Kho" required="">

            <label asp-for="ThuongHieu">Thương hiệu</label>
            <input asp-for="ThuongHieu" type="text" id="thuonghieu" value="@ViewBag.SanPham.ThuongHieu" required="">

            <label asp-for="TrangThai">Trạng thái</label>
            <input asp-for="TrangThai" type="text" value="@ViewBag.SanPham.TrangThai" required="">

            <label>Loại sản phẩm</label>
            <select style="width:200px" asp-for="PhanLoaiId" asp-items="ViewBag.PhanLoaiId">
                <option value="">Chọn loại sản phẩm</option>
            </select>
            <br>

            <label asp-for="MoTa">Mô tả</label>
            <input asp-for="MoTa" type="text" id="thuonghieu" value="@ViewBag.SanPham.MoTa" required="">

            <label>Link sản phẩm</label>
            <input type="file" id="uploadFile" name="files" multiple />
            <input type="hidden" value="@ViewBag.SanPham.HinhAnh" asp-for="HinhAnh" />
            <br>
            <label>Ảnh sản phẩm</label>
            <div id="image_preview">
                @foreach (var item in ViewBag.HinhAnh)
                {

                    <img alt="" src="/client/images/@item">
                }
            </div>

            <div class="clearfix"></div>
            <div class="row add_cancel" style="text-align: right;">
                <input type="submit" value="Update" id="btnadd">
                <button class="btncancel">Cancel</button>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function (e) {
            $("#uploadFile").change(function () {
                $('#image_preview').html("");
                var total_file = document.getElementById("uploadFile").files.length;
                for (var i = 0; i < total_file; i++) {
                    $('#image_preview').append("<img src='" + URL.createObjectURL(event.target.files[i]) + "'>");
                }
            });
        });
    </script>
}
